.App {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(231, 194, 194);
  background: linear-gradient(
    180deg,
    rgba(231, 194, 194, 1) 18%,
    rgba(163, 155, 155, 1) 100%
  );
}
